*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    background: linear-gradient(to right,#f5dd90,#652913);
}

h2{
    padding: 1rem;
    text-align: center;
}


.tabla th{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
table td{
    text-align: center;
    background-color: #f5dd90;
    padding: 1.5rem;
    
}
.DEBIT{
    color:red !important;
}
.CREDIT{
    color:green !important;
}

